<!--************************************
					Inner Banner Start
			*************************************-->
			<div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Author Instructions/Guidelines</h1>
								<ol class="sj-breadcrumb">
									<li><a [routerLink]="['']">Home</a></li>
									<li><a [routerLink]="['guidelines']">Author Guidelinest</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Inner Banner End
			*************************************-->
			<!--************************************
					Main Start
			*************************************-->
			<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div id="sj-twocolumns" class="sj-twocolumns">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
								<div id="sj-content" class="sj-content">
									<div class="sj-authorguidelines">
										<figure class="sj-guidelineimg"><img src="../../assets/images/author-guideline-img.jpg" alt="image description"></figure>
										<div class="sj-introduction sj-sectioninnerspace">
											<span>Information for Authors</span>
											<h4>A Complete Guideline</h4>
											<div class="sj-description">
												<p>Indian Innovations: Journal of Indian Start-ups publishes articles, interviews, case studies and data analysis reports.</p>
												<p>You can use this list to carry out a final check of your submission before you send it to the journal for review. Please check the relevant section in this Guide for Authors for more details.</p>
													</div>
										</div>
										<div class="sj-ourhistory sj-sectioninnerspace">
											<div class="">
												<h3>Ensure that the following items are present:</h3>
											</div>
											<div class="sj-description">
                        <ul>
                          <li>Email address</li>
                          <li>Full postal address</li>
                        </ul>
												</div>
										</div>
                    <div class="sj-ourhistory sj-sectioninnerspace">
											<div class="">
												<h3>For Manuscripts:</h3>
											</div>
											<div class="sj-description">
                        <ul>
												<li>Files can be in the following formats: DOC, DOCX or PDF. Microsoft documents should not be locked or protected</li>
												<li>Manuscripts must be submitted in English</li>
                        <li>Use a standard font and standard size</li>
                        <li>All figures, graphs, diagrams and tables must include captions and details</li>
                        <li>Indicate clearly if any colour is to be used for any figures in print</li>
                        <li>All references mentioned in the Reference list are cited in the text, and vice-versa</li>
                        <li>Permission has been obtained for use of copyrighted material from other sources (including internet)</li>
                       </ul>
                      </div>
										</div>
                    <div class="sj-ourhistory sj-sectioninnerspace">
											<div class="">
												<h3>Acceptance criteria:</h3>
											</div>
											<div class="sj-description">
												<p>All published works in Indian Innovations: Journal of Indian start-ups are peer-reviewed and must be:</p>
                          <ul>
                            <li>scientifically sound</li>
                            <li>written in clear, concise and correct English</li>
                            <li>Original, unpublished work</li>
                          </ul>
                      </div>
										</div>
										<div class="sj-ouraims sj-sectioninnerspace">
											<div class="sj-borderheading">
												<h3>Submission declaration and verification</h3>
											</div>
											<div class="sj-ouraim">
												<div class="sj-description">
													<p class="sj-firstletter">S</p>
													<p>ubmission of any work implies that the work described has not been published previously, that it is not under consideration for publication elsewhere and that if accepted, it will not be published elsewhere in the same form, in English or any other language, including electronically.</p>
												</div>
											</div>
										</div>
                    <div class="sj-ouraims sj-sectioninnerspace">
											<div class="sj-borderheading">
												<h3>Disclaimer</h3>
											</div>
											<div class="sj-ouraim">
												<div class="sj-description">
													<p class="sj-firstletter">T</p>
													<p>he opinions expressed in the articles and other content appearing in the journal are purely those of the authors and may in no way reflect the opinion of the Editors or the Management of IIJIS. Authors submitting their work for publication in IIJIS are responsible for getting approval for such copyright material as they may use in their articles. IIJIS will not be held responsible for any infringement of copyright laws for the published content.</p>
												</div>
											</div>
										</div>
                    <div class="sj-ouraims sj-sectioninnerspace">
											<div class="sj-borderheading">
												<h3>Copyright notice</h3>
											</div>
											<div class="sj-ouraim">
												<div class="sj-description">
													<p class="sj-firstletter">C</p>
													<p>Copyright for articles published in this journal will rest with the authors, with first publication rights to the journal. As the journal follows an open access policy, articles or extracts from articles may be used by others, with proper attribution, for academic and non-commercial use.</p>
												<p>Authors are required to take relevant approvals for any copyrighted material they may use in their work submitted to IR. The journal will not be responsible in any way for copyright infringements.
                        </p>
                        <p>Submission of any work implies that the work described has not been published previously, that it is not under consideration for publication elsewhere and that if accepted, it will not be published elsewhere in the same form, in English or any other language, including electronically.
                        </p>
                        </div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <app-aside></app-aside>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!--************************************
					Main End
			*************************************-->
