<!--************************************
					Inner Banner Start
			*************************************-->
			<div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Become A Member</h1>
								<ol class="sj-breadcrumb">
									<li><a [routerLink]="['']">Home</a></li>
									<li><a [routerLink]="['/login']">Login</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Inner Banner End
			*************************************-->
			<!--************************************
					Main Start
			*************************************-->
			<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace sj-loginupdates">
				<div id="sj-twocolumns" class="sj-twocolumns">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12">
								<div id="sj-content" class="sj-content">
									<div class="sj-registerarea">
										<div class="registernow">
											<div class="sj-registerformholder">
												<div class="row">
													<div class="col-12 col-sm-12 col-md-12 col-lg-6">
														<form class="sj-formtheme sj-formregister" [formGroup]="registerForm" (ngSubmit)="validateAndRegister()">
															<fieldset>
																<div class="form-group">
																	<input type="text" name="firstName" class="form-control" formControlName="firstName" placeholder="First Name*">
																</div>
																<div class="form-group">
																	<input type="text" name="lastName" class="form-control" formControlName="lastName" placeholder="Last Name*">
																</div>
                                <div class="form-group">
																	<input type="text" name="affiliation" class="form-control" formControlName="affiliation" placeholder="Affiliation*">
																</div>
                                <div class="form-group">
																	<select name="country" class="form-control" formControlName="country">
                                    <option value="">Select Country</option>
                                  <option value="{{country.code}}" *ngFor="let country of countries">{{country.name}}</option>
                                  </select>
																</div>
																<div class="form-group">
																	<input type="email" name="email" class="form-control" formControlName="email" placeholder="Email*">
																</div>
                                <div class="form-group">
																	<input type="text" name="phone" class="form-control" formControlName="phone" placeholder="Phone*">
																</div>
																<div class="form-group">
																	<input type="password" name="password" class="form-control" formControlName="password" placeholder="Password*">
																</div>
                                <div class="form-group">
																	<input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password*">
																</div>
																<div class="form-group">
																	<div class="sj-checkbox">
																		<input type="checkbox" id="register" formControlName="agree">
																		<label for="register">By registering, you accept our <a [routerLink]="['terms']">Terms &amp; Conditions</a></label>
																	</div>
																</div>
																<div class="sj-btnarea">
																	<button mat-button class="sj-btn sj-btnactive" type="submit">Register</button>
																</div>
															</fieldset>
														</form>
													</div>
													<div class="col-12 col-sm-12 col-md-12 col-lg-6">
														<div class="sj-howtoregister">
															<h3>Register to continue to access our services.</h3>
															<div class="sj-description">
																<p>By registering you are accepting the following.</p>
															</div>
															<ul class="sj-liststyle">
																<li><span> You agree to have my data collected and stored according to the privacy statement.</span></li>
																<li><span> You would like to be notified of new publications and announcements.</span></li>
																<li><span> You would like to be contacted with requests to review submissions to this journal.</span></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!--************************************
					Main End
			*************************************-->
