.sj-innerbannercontent h1 {
  margin: 0;
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
button{
  width: 100%;
}
.addhover:hover{
  cursor: pointer;
  color: #007bff !important;
}
