	<!--************************************
					Inner Banner Start
			*************************************-->
			<div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Submissions</h1>
								<ol class="sj-breadcrumb">
									<li><a [routerLink]="['']">Home</a></li>
									<li><a [routerLink]="['submissions']">Submissions</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Inner Banner End
			*************************************-->

<!--************************************
					Main Start
			*************************************-->
			<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div class="container">
					<div class="row">
						<div id="sj-twocolumns" class="sj-twocolumns">
						<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 float-left">
              <aside id="sj-asidebar" class="sj-asidebar sj-widgetbox">
                <div class="sj-widgetprofile">
                  <div class="sj-widgetcontent">
                    <figure>
                      <img *ngIf="userdata.file !== undefined" [src]="imageToShow" alt="image description">
                      <img *ngIf="userdata.file === undefined" src="../../assets/images/thumbnails/img-02.png" alt="image description">
                      <a class="sj-btnedite" [routerLink]="['/settings']"><i class="lnr lnr-pencil"></i></a>
                    </figure>
                    <div class="sj-admininfo">
                      <h3>{{userdata.firstName + ' ' + userdata.lastName}}</h3>
                      <h4>{{userdata.affiliation}}</h4>
                    </div>
                  </div>
                </div>
                <div class="sj-widgetdashboard">
                  <nav id="sj-dashboardnav" class="sj-dashboardnav">
                    <ul>
                      <li *ngIf="userdata?.role === 'admin'" ><a [routerLink]="['/releases']"><i class="lnr lnr-sync"></i><span>Releases</span></a></li>
                      <li *ngIf="userdata?.role === 'user'" ><a [routerLink]="['/submissions']"><i class="lnr lnr-layers"></i><span>Submissions</span></a></li>
                      <li><a [routerLink]="['/settings']"><i class="lnr lnr-lock"></i><span>Account Settings</span></a></li>
                      <li><a [routerLink]="['/logout']"><i class="lnr lnr-exit"></i><span>Logout</span></a></li>
                    </ul>
                  </nav>
                </div>
              </aside>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 float-right">
								<div id="sj-content" class="sj-content sj-addarticleholdcontent">
									<div class="sj-dashboardboxtitle sj-titlewithform">
										<h2>Submissions</h2>
										<!--form class="sj-formtheme sj-formsearchvtwo">
											<div class="sj-sortupdown">
												<a href="javascript:void(0);"><i class="fa fa-sort-amount-up"></i></a>
											</div>
											<fieldset>
												<input type="search" name="search" class="form-control" placeholder="Search here">
												<button type="submit" class="sj-btnsearch"><i class="lnr lnr-magnifier"></i></button>
											</fieldset>
										</form-->
									</div>
									<ul id="accordion" class="sj-articledetails sj-articledetailsvtwo">
										<li (click)="showdetails(submission)" *ngFor="let submission of submissionlist" id="headingOne" class="sj-articleheader" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<div class="sj-detailstime">
												<span><i class="ti-calendar"></i>{{submission.date | date : 'mediumDate'}}</span>
												<span><i class="ti-layers"></i>{{submission.title}}</span>
												<span><i class="ti-bookmark"></i>ID: {{submission.id}}</span>
                        <span><i class="ti-check"></i>Status: <span *ngIf="submission?.choice === undefined" style="margin:0;">Pending</span><span style="margin:0;" *ngIf="submission?.choice !== undefined">
                        <span style="margin:0;" *ngIf="submission?.choice === '1'">Accepted</span>
                        <span style="margin:0;" *ngIf="submission?.choice === '2'">Need Minor Revision</span>
                        <span style="margin:0;" *ngIf="submission?.choice === '3'">Need Major Revision</span>
                        <span style="margin:0;" *ngIf="submission?.choice === '4'">Rejected</span>
                        </span></span>
												<h4>{{submission.description}}</h4>
											</div>
											<div class="sj-nameandmail">
												<span *ngIf="submission?.author">Author <h4>{{submission.author}}</h4></span>
                        <span>Submitted by</span>
												<span class="sj-mailinfo">{{submission?.user?.firstName + " " + submission?.user?.lastName}}</span>
											</div>
										</li>
                    <li *ngIf="submissionlist.length == 0" id="headingOne" class="sj-articleheader" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<div class="sj-detailstime">
												<h4>No items found!</h4>
											</div>
										</li>
                    <li *ngIf="toggle" class="sj-active sj-userinfohold collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="">
											<div class="sj-userinfoimgname">
												<figure class="sj-userinfimg">
													<img style="max-width: 80px;" *ngIf="image !== undefined" [src]="image">
                          <img style="max-width: 80px;" *ngIf="image === undefined" src="../../../assets/images/logo1.png">
												</figure>
												<div class="sj-userinfoname">
													<span>{{submission.date | date:'mediumDate'}}</span>
													<h3>{{submission.user.firstName + " " + submission.user.lastName}}</h3>
												</div>
												<div class="sj-userbtnarea" >
                          <button (click)="sendfeedback(submission)" *ngIf="userdata.role === 'admin'" type="submit" class="sj-btn" data-toggle="modal" data-target="#feedbackmodal">Send Feedback</button>
													<button (click)="show(submission)" type="button" class="sj-btn sj-btnactive" data-toggle="modal" data-target="#reviewermodal">View Details</button>
                        </div>
												<div class="sj-description">
													<p>{{submission.description}}</p>
												</div>
												<div class="sj-downloadheader">
													<div class="sj-title">
														<h3>Attached Document</h3>
														<a (click)="downloadfile(submission)" href="javascript:void(0);"><i class="lnr lnr-download"></i>Download</a>
													</div>
													<div class="sj-docdetails">
														<figure class="sj-docimg">
															<img src="../../assets/images/thumbnails/doc-img.jpg" alt="img description">
														</figure>
														<div class="sj-docdescription">
															<h4>{{submission?.file?.originalname}}</h4>
															<span>File Size {{submission?.file?.size}}b</span>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
									<nav class="sj-pagination">
										<ul>
											<li *ngIf="offset >= 10" class="link sj-prevpage"><a (click)="decreaseoffset()"><i class="fa fa-angle-left"></i> Previous</a></li>
                      <!--li class="sj-active"><a href="#">01</a></li>
											<li><a href="#">02</a></li>
											<li><a href="#">03</a></li>
											<li><a href="#">04</a></li>
											<li><a href="#">05</a></li-->
                      <li *ngIf="count >= (offset * page)"  class="link sj-nextpage"><a (click)="increaseoffset()">Next <i class="fa fa-angle-right"></i></a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!--************************************
					Main End
			*************************************-->
