<!--************************************
					Inner Banner Start
			*************************************-->
			<div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Board</h1>
								<ol class="sj-breadcrumb">
									<li><a [routerLink]="['']">Home</a></li>
									<li><a [routerLink]="['board']">Board</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Inner Banner End
			*************************************-->
			<!--************************************
					Main Start
			*************************************-->
			<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div id="sj-twocolumns" class="sj-twocolumns">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
								<div id="sj-content" class="sj-content">
									<div class="row sj-authorguidelines">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                      <img class="board" src="../../assets/images/1.png" alt="">
                      <h3 _ngcontent-spc-c308="">Anandita Tewari</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                      <img class="board" src="../../assets/images/2.png" alt="">
                      <h3 _ngcontent-spc-c308="">Konika Rai</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                      <img class="board" src="../../assets/images/3.png" alt="">
                      <h3 _ngcontent-spc-c308="">Ritika Dey</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                      <img class="board" src="../../assets/images/4.png" alt="">
                      <h3 _ngcontent-spc-c308="">Vanshika Singh</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                      <img class="board" src="../../assets/images/5.png" alt="">
                      <h3 _ngcontent-spc-c308="">Tina Joseph</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                      <img class="board" src="../../assets/images/6.png" alt="">
                      <h3 _ngcontent-spc-c308="">Pragya Sharma</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                      <img class="board" src="../../assets/images/shreya.jpg" alt="">
                      <h3 _ngcontent-spc-c308="">Shreya Prem</h3>
                    </div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <app-aside></app-aside>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!--************************************
					Main End
			*************************************-->
