<!--************************************
					Inner Banner Start
			*************************************-->
			<div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Contact Us</h1>
								<ol class="sj-breadcrumb">
									<li><a [routerLink]="['']">Home</a></li>
									<li><a [routerLink]="['contact']">Contact Us</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Inner Banner End
			*************************************-->
			<!--************************************
					Main Start
			*************************************-->
			<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div id="sj-twocolumns" class="sj-twocolumns">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-8 col-lg-9">
								<div id="sj-content" class="sj-content">
									<div class="sj-aboutus">
										<figure class="sj-aboutusimg"><img src="../../assets/images/undraw_contact_us_15o2.svg" alt="image description"></figure>
										<div class="sj-introduction sj-sectioninnerspace">
											<span>Contact Us</span>
											<h4>Email</h4>
											<div class="sj-description">
												<p>You can contact us by email on <a href="mailto:editor@iijis.in">editor@iijis.in</a> </p>
												</div>
                      	<h4>Phone</h4>
											<div class="sj-description">
												<p>You can contact us by phone on <a href="tel:+949811454963">+91 9811454963</a> </p>
												</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <app-aside></app-aside>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!--************************************
					Main End
			*************************************-->

