	<!--************************************
					Footer Start
			*************************************-->
			<footer id="sj-footer" class="sj-footer sj-haslayout">
				<div class="container">
					<div class="row">
						<!-- <a class="sj-btnscrolltotop" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a> -->
						<div class="sj-footercolumns">
							<div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
								<div class="sj-fcol sj-footeraboutus">
									<strong class="sj-logo">
										<a [routerLink]="['']"><img src="../../../assets/images/logo1.png" alt="image description"></a>
									</strong>
									<div class="sj-description">
										<p>India Innovations - Journal of Indian Start-ups is a student-run initiative that aims to delve into the start-up ecosystem in India. </p>
									</div>
									<ul class="sj-socialicons sj-socialiconssimple">
										<li class="sj-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
										<li class="sj-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
										<li class="sj-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
								<div class="sj-fcol sj-widget sj-widgetusefullinks">
									<div class="sj-widgetheading">
										<h3>Inquire</h3>
									</div>
									<div class="sj-widgetcontent">
										<ul>
											<li><a [routerLink]="['contact']">Contact Us</a></li>
											<li><a [routerLink]="['careers']">Careers</a></li>
											<li><a [routerLink]="['help']">Help and Support</a></li>
											<li><a [routerLink]="['permissions']">Rights &amp; Permissions</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
								<div class="sj-fcol sj-widget sj-widgetresources">
									<div class="sj-widgetheading">
										<h3>Links</h3>
									</div>
									<div class="sj-widgetcontent">
										<ul>
											<li><a [routerLink]="['/board']">Board</a></li>
											<li><a [routerLink]="['/guidelines']">Guidelines</a></li>
											<li><a [routerLink]="['/current']">Current</a></li>
											<li><a [routerLink]="['/archives']">Archives</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
								<div class="sj-fcol sj-widget sj-widgetcontactus">
									<div class="sj-widgetheading">
										<h3>Get In Touch</h3>
									</div>
									<div class="sj-widgetcontent">
										<ul>
											<li><i class="lnr lnr-home"></i><address>{{config.contactAddress}}  </address></li>
											<li><a href="tel:{{config.contactPhone}}"><i class="lnr lnr-phone"></i><span>{{config.contactPhone}}</span></a></li>
											<li><a href="mailto:{{config.contactEmail}}"><i class="lnr lnr-envelope"></i><span>{{config.contactEmail}}</span></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="sj-footerbottom">
							<p class="sj-copyrights">© {{config.year}} <span>{{config.vendor}}</span>. All Rights Reserved</p>
						</div>
					</div>
				</div>
			</footer>
			<!--************************************
					Footer End
			*************************************-->
