<!--************************************
					Inner Banner Start
			*************************************-->
			<div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Aims and Scope</h1>
								<ol class="sj-breadcrumb">
									<li><a [routerLink]="['']">Home</a></li>
									<li><a [routerLink]="['aims']">Aims & Scope</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Inner Banner End
			*************************************-->
			<!--************************************
					Main Start
			*************************************-->
			<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div id="sj-twocolumns" class="sj-twocolumns">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-8 col-lg-9">
								<div id="sj-content" class="sj-content">
									<div class="sj-aboutus">
										<figure class="sj-aboutusimg"><img src="../../assets/images/aboutus-img.jpg" alt="image description"></figure>
										<div class="sj-introduction sj-sectioninnerspace">
											<span>Aims & Scope</span>
											<h4>A Brief Introduction</h4>
											<div class="sj-description">
												<p>India Innovations: Journal of Indian Start-ups is a student-run initiative that aims to delve into the start-up ecosystem in India. The journal aims to capture the success(and failure) stories of Indian Start-ups, combined with interviews from Industry Experts, case studies and data analysis and policy analysis to facilitate a comprehensive understanding of various elements that are necessary to create a strong Start-up ecosystem and spread awareness regarding the same. The journal emanates knowledge about the different aspects affecting the start-ups with a broader view.</p>
												<p>The journal is meant for researchers, students, and readers interested in the current issues and developments of the Indian start-ups. The journal will be published electronically. It will be easily accessible and free of charge, widely across the region. We also welcome views on recent business-relevant books, news, announcements, presentations of current research, and significant projects.</p>
												</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <app-aside></app-aside>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!--************************************
					Main End
			*************************************-->
